{% extends "layout.html" %}

{% block title %}
    Task Lists
{% endblock%}

{% block content %}
    <h1>Lists of the Task: </h1>
    <p>
        {% for task in tasklists %}
            <p>Title Name:
                <a href="{% url 'todo_task:task-detail' task.slug_link %}">{{task.event_name}}</a>
                <a href="{% url 'todo_task:update-task' task.slug_link %}">Update</a>
                <a href="{% url 'todo_task:delete-task' task.slug_link %}">Delete</a>
            </p>
            <p>Created on: {{task.event_date}}</p>
        {% empty %}
        <p>No task found. </p>
        {% endfor %}
    </p>
{% endblock %}